<div class="my-2 py-2 px-2 bg-gray-200 flex">
    <div class="w-3/5 flex items-center">
        <span class="inline-block mx-2">1</span>
        <amp-img src="https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg"
            width="40" height="40" layout="" class="mx-2 border" alt="Product image"></amp-img>
        <p class="inline-block mx-2">Product name</p>
    </div>
    <div class="w-2/5 flex justify-end items-center ">
        <div class="inline-block w-aut">
            <span class="btn-icon">
                <span>+</span>
            </span>
            <span class="text-lg font-bold">
                1
            </span>
            <span class="btn-icon">
                <span>-</span>
            </span>
            <span class="mx-2">
                $100
            </span>
        </div>

        <div class="inline-block w-auto">
            <button class="px-3 py-2 bg-orange-500 text-gray-100">Remove</button>
        </div>
    </div>
</div>