<div class="border  bg-gray-200 w-full text-orange-100">
    <div class="relative w-full overflow-hidden" style="padding-top:50%; padding-bottom: 50%">
        <!-- IMAGE BASIC DETAILS -->
        <div class="absolute w-full h-full bg-white  top-0 left-0 overflow-hidden">
            <!-- ACTUAL PRODUCT IMAGE -->
            <img src="resource/img/clem-onojegaw.jpg" class="relative inline-block w-full"/>
            <!--TOP LABEL SECTION IN PRODUCT  -->
            <div class="absolute top-0 px-1 py-1  md:px-3 md:py-2 w-full flex justify-between">
                <div>
                    <span class="mx-1 md:mx-2">
                        <span class="fa fa-heart"></span>
                    </span>
                </div>
                <div>
                    <span class="mx-1 md:mx-2">
                        <span class="fa fa-chevron-right"></span>
                    </span>
                </div>
            </div>
            <!-- LOWER LABEL SECTION IN PRODUCT -->
            <div class="absolute bottom-0 py-1 sm:py-2  w-full justify-between px-1 sm:px-3 ">
                <div class="flex justify-between bg-red-800 ">
                    <button class="text-xs sm:text-sm px-1 sm:px-2 py-1  bg-orange-500">Buy</button>
                    <span class="text-xs sm:text-sm px-1 sm:px-2 py-1 text-red-100">$20.00</span>
                </div>
            </div>
            <!-- LOWER LABEL SECTION IN PRODUCT END -->
        </div>
    </div>
    <div class="px-1 py-1 sm:px-3 sm:py-3">
        <div class="flex justify-between">
            <div class="w-5/5 text-purple-900">
                <p class="text-xs font-normal sm:text-md sm:font-bold ">Beatiful summer wears</p>
            </div>
        </div>
    </div>
</div>