{% extends "layouts/theme.html" %}
   
{% block content %}
 <!-- LIST OF ITEMS IN CART AREA  -->
    <div>
        <div class="container mx-auto px-3">
            <div class="">
                    <div class="card my-3">
                            <div class="card-content">
                                <div class="text-center my-3">
                                    <h4 class="font-bold text-orange-600">YOUR CART 
                                        <span class="fa fa-shopping-cart"></span>
                                    </h4>
                                    <p>Checkout page <span class="fa fa-filter"></span></p>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}