{% extends "layouts/theme.html" %}
{%block beforeSiteMenu %}
<!-- START OF NOTIFICATIONS AREA -->
    <div class="bg-gray-900">
        <div class="container py-2 mx-auto text-center">
            <p class="text-orange-100"> Register now to take advantage of specific user defined features 
            <button class="px-3 py-2 bg-orange-500 shadow-lg rounded">
                Register
            </button></p>
        </div>
    </div>
<!-- END OF NOTIFICATIONS AREA -->
{% endblock %}
{% block content %}
    <!-- ADVERT AREA -->
    <div class="bg-gray-500">
        <div class="mx-auto overflow-hidden">
            <div class="ads-scroller">
                <div class=" px-2 float-left" style="width:300px;">
                    <div class="h-64 bg-gray-600">
                        <h1>ADS 1</h1>
                    </div>
                </div>

                <div class=" px-2 float-left" style="width:400px">
                    <div class="h-64 bg-gray-600">
                        <h1> Ads 2</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ADVERT AREA END -->
    <!-- SECTIONS AREA -->
    <div class="">
        <div class="container mx-auto px-3 my-4">
            <div class="flex justify-between items-center items-center">
                <span class="inline-block btn-icon" id="cat-scroller-prev">
                        <span class="fa fa-chevron-left"></span>
                </span>
                <div class="category-scroller overflow-hidden flex items-center w-full">
                    {% for item in list %}
                        <a class="float-left mx-2" href="/products">
                        {% include "templates/category-card-template.html" %}
                        </a>
                    {% endfor %}
                </div>
                <span class="inline-block btn-icon" id="cat-scroller-next">
                    <span class="fa fa-chevron-right"></span>
                </span>
            </div>
        </div>
    </div>
    <!-- SECTIONS AREA END-->

    <!-- SCHEMA DEFINITION -->
    <!-- NEW DEAL -->
    <!-- NEW DEAL LIKE WHEN A PRODUCT IS SCHEDULED TO BE SOLD WITHIN A PERIOD OF TIME AT A SUBSIZED RATE -->
    <div>
        <div class="container px-3 py-2 mx-auto ">
            <img class="block w-full"
            src="/resource/img/bg6.jpg"/>
        </div>
    </div>
    <!-- END NEW DEAL TEMPLATE -->

    <!-- PRODUCTS AREA START -->
    <div class="">
        <div class="container mx-auto my-3 px-3">
                <div class="card my-3">
                        <div class="card-content">
                             <div class="text-center my-3">
                                     <h3 class="font-bold text-orange-600">Today's Product </h3>
                                     <p>Flip Quickly shop through sections or use the filters <span class="fa fa-filter"></span></p>
                             </div>
                        </div>
                 </div>
            <div>
                <!-- TYPICAL PRODUCT TEMPLATE DEFINITION -->
                 {% for item in list %} 
                    <div class="w-6/12 md:w-4/12 lg:w-3/12 xl:w-3/12 float-left p-2 ">
                        {% include "templates/product-template.html" %}
                    </div>
                 {% endfor %}

                <div class="float-none"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- PRODUCTS AREA END -->

    <!-- SECTIONS AREA -->
    <div class="">
        <div class="container px-3 mx-auto">
            <div class="card my-3">
                   <div class="card-content">
                        <div class="text-center my-3">
                                <h3 class="font-bold text-orange-600">STORE SECTIONS</h3>
                                <p>Flip Quickly shop through sections or use the filters <span class="fa fa-filter"></span></p>
                        </div>
                   </div>
            </div>
            <div>
                {% for item in list %}
                <div class="p-2 w-6/12 md:w-3/12 float-left">
                    {% include "templates/section-template.html" %}
                </div>
                {% endfor %}
                <div class="float-none clearfix"></div>
            </div>
        </div>
    </div>
    <!-- SECTIONS AREA END -->

    <!-- SERVICES -->
    <div class="container px-3 py-2 mx-auto">
        <div>
            <div class="w-6/12 md:w-4/12 float-left inline-block">
                <div>
                    <span>
                        
                    </span>
                </div>
                <div>
                    <p>Service title</p>
                    <p class="text-sm">Service description </p>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}

{% block customBottomScript %}
    <script>
        $('.ads-scroller').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            variableWidth: false,
            arrows:true
            });

        $('.category-scroller').slick({
            dots: false,
            speed: 300,
            slidesToShow: 3,
            variableWidth:true,
            arrows:true,
            prevArrow:$('#cat-scroller-prev'),
            nextArrow:$('#cat-scroller-next')
        });
     
    </script>
{% endblock %}