<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Styles area-->
    {% include "includes/styles.html" %}
    <!-- Styels end -->
    <!-- SCRIPT AREA -->
    {% include "includes/scripts.html" %}
    <!-- SCRIPTS AREA END  -->
</head>
<body>
    {% include "includes/loginSignupComponent.html" %}
    
    {% block beforeSiteMenu%} {% endblock %}
    {% block primarySiteMenu %}
    <!-- MENU AREA -->
        {% include "includes/default-menu.html" %}
        {% include "includes/default-float-menu.html" %}
    <!-- MENU AREA END -->
    {% endblock %}

    {% block content %}
        <!-- NO DEFAULT CONTENT -->
    {% endblock %}
    <!-- Footer Area -->
    {% include "includes/footer.html" %}
    <!-- Footer Area end -->    
    <!-- Bottom Scripts area -->
    {% include "includes/scripts-bottom.html" %}
    
    {% block customBottomScript %}
    {% endblock %}
    <!-- Bottom scripts area end -->
</body>
</html>